@keyframes example {
    from {
        background-color: red;
        width: 0px;
    }
    to {
        background-color: yellow;
        width: 100px;
    }
}

.animation {
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation-name: example;
    animation-duration: 4s;
}